.outer {
  margin-top: 50px;
}

.side {
  position: sticky;
  top: 50px;
  margin-bottom: 32px; /* margin top 被bootstrap设置了 */
}

#question-container::after, .answer:not(:last-child):after {
  content: '';
  display: block;
  border: 1px solid #f5f5f5;
  margin: 1rem 0.25rem 1.5rem;
}

.avatar {
  max-width: 36px;
  max-height: 36px;
}

.profile-text {
  font-size: 14px;
}

.date {
  font-size: 10px;
}

.proposition {
  cursor: pointer;
}
.proposition ~ input[type="checkbox"] {
  position: absolute;
  transform: scale(0.75) translate(-0rem, -0.4rem);
  visibility: hidden;
}
.proposition ~ input[type="checkbox"]:checked {
  visibility: visible;
}

.similar-answers .author-name {
  font-size: 12px;
}

.similar-answers .content {
  font-size: 14px;
}

.similar-answers .content p,ul {
  margin-top: 0;
  margin-bottom: 0;
}

.similar-answers .concept {
  font-size: 12px;
}

#note-container:blank {
  background-color: black;
}

.edit-button {
  color: #0d6efd;
  cursor: pointer;
}
.edit-button:hover {
  color: #0a58ca;
}

.placeholder {
  color: rgb(185, 194, 204);
  margin: 1rem 0;
}

.block-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
