/* layout */
.outer {
  margin-top: 50px;
}

.side {
  position: sticky;
  top: 50px;
  margin-bottom: 32px; /* margin top 被bootstrap设置了 */
}

/* question */
#question-container::after, .answer:not(:last-child):after {
  content: '';
  display: block;
  border: 1px solid #f5f5f5;
  margin: 1rem 0.25rem 1.5rem;
}

/* profile */
.avatar {
  max-width: 36px;
  max-height: 36px;
}

.profile-text {
  font-size: 14px;
}

.date {
  font-size: 10px;
}

/* answer & its propositions */
mark, .mark {
  padding-left: 0;
  padding-right: 0;
}
.proposition {
  cursor: pointer;
}
.proposition ~ input[type="checkbox"] {
  position: absolute;
  transform: scale(0.75) translate(-0rem, -0.4rem);
  visibility: hidden;
}
.proposition ~ input[type="checkbox"]:checked {
  visibility: visible;
}

/* similar answer & its propositions */
.similar-answers .author-name {
  font-size: 12px;
}

.similar-answers .content {
  font-size: 14px;
  transition: all .5s;
}

.similar-answers .content p,ul {
  margin-top: 0;
  margin-bottom: 0;
}

.similar-answers .content mark {
  padding: 0;
  cursor: default;
}
.similar-answers .content.truncate mark {
  background-color: unset !important;
}

.similar-answers .concept {
  font-size: 12px;
}

/* note */
.edit-button {
  color: #0d6efd;
  cursor: pointer;
}
.edit-button:hover {
  color: #0a58ca;
}

ul#note-container:not(:empty) {
  padding: 1rem 0 1rem 1rem !important;
}

ul#note-container, #note-container ul {
  list-style: none;
}

#note-container .proposition-container {
  padding-left: 1rem !important;
}

#note-container .drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  box-sizing: border-box;
  cursor: all-scroll;
  color: rgba(60, 60, 60, 0.75);
}
#note-container .drag-handle:hover::before { /* 悬浮半透明背景 */
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(224, 224, 224, 0.5);
  border-radius: 5px;
  z-index: -1;
}

.popover-body {
  padding: 5px 15px;
}

/* common */
.placeholder {
  color: rgb(185, 194, 204);
  margin: 1rem 0;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blink {
  border: solid 0px red;
  animation: anim-blink 2s ease-in-out 0s;
}
.blink.blink-first {
  border-right-width: 0 !important;
}
.blink.blink-last {
  border-right-width: 0 !important;
}

@keyframes anim-blink {
  0%, 50%, 100% {
    border-width: 0px;
  }
  25%, 75% {
    border-width: 3px;
  }
}
